- content_for :head do
  = auto_discovery_link_tag :rss, current_rss_url
- content_for :javascript do
  window.page = #{@page};

.jumbotron
  .container
    %h2
      = link_to 'Поиск мотоциклов', root_path
    %h5
      добавьте адресную строку в rss-ридер
    %hr

    = simple_form_for @search, url: "", html: { class: 'form-search', method: 'get'  } do |f|

      .row
        = f.collection_check_boxes :vehicle_types, ProposalsController::VEHICLE_TYPES_NAMES, :first, :last, item_wrapper_class: :'col-md-4'

      %hr
      .row
        = f.collection_check_boxes :paper_types, ProposalsController::PAPER_TYPES, :first, :last, item_wrapper_class: :'col-md-4'

      .row
        .col-md-8
          %button.btn.btn-primary.btn-lg{ type: "submit" } Искать
          %button.btn.btn-lg{ type: "reset" } Сбросить
        .col-md-4
          = link_to "http://cloud.feedly.com/#subscription%2Ffeed%2F" + URI::escape(current_rss_url), class: 'rss' do
            +Feedly

.proposals-container
  = render partial: 'page'
%button.btn.btn-success#page-next Показать ещё

%ul.social-likes.pull-right{ 'data-url' => 'http://motorss.herokuapp.com' }
  %li.facebook{ title: "Поделиться ссылкой на Фейсбуке" } Facebook
  %li.twitter{ title: "Поделиться ссылкой в Твиттере" } Twitter
  %li.vkontakte{ title: "Поделиться ссылкой во Вконтакте" } Вконтакте
  %li.plusone{ title: "Поделиться ссылкой в Гугл-плюсе" } Google+

%br
%br
