- content_for :head do
  = auto_discovery_link_tag :rss, current_rss_url

.jumbotron
  .container
    %h2
      = link_to 'Поиск мотоциклов', root_path
    = simple_form_for @search, url: proposals_path, html: { class: 'form-search', method: 'get'  } do |f|

      .row
        = f.collection_check_boxes :vehicle_types, ProposalsController::VEHICLE_TYPES_NAMES, :first, :last, item_wrapper_class: :'col-md-4'

      %hr
      .row
        = f.collection_check_boxes :paper_types, ProposalsController::PAPER_TYPES, :first, :last, item_wrapper_class: :'col-md-4'

      .row
        .col-md-8
          %button.btn.btn-primary.btn-lg{ type: "submit" } Искать
          %button.btn.btn-lg{ type: "reset" } Сбросить
        .col-md-4
          = link_to "http://cloud.feedly.com/#subscription%2Ffeed%2F" + URI::escape(current_rss_url), class: 'rss' do
            +Feedly



- @proposals.each do |p|
  .proposal.row
    .col-md-2
      = link_to p.full_link, target: '_blank' do
        = image_tag proposal_photo_preview_url(p)
    .col-md-10
      = link_to p.full_link, target: '_blank' do
        %h4= p.title
  %hr
